<!-- NavBar -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:white; font-size: 15px; border-bottom-color:whitesmoke; border-bottom:inset;letter-spacing:4px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">LeGourmet Catering</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Container (The Header Section) -->
<div class="container-fluid bg-1 text-center" style="padding-top: 200px; padding-bottom: 200px; background-color: #1abc9c;color: #ffffff;">
    <h3 class="margin" style="margin-bottom: 45px; font-size:xx-large;">Thank you, we'll get in contact soon!</h3>
    <img src="~/images/8.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Meal" width="350" height="350">
    <h3>Have a beautiful day!</h3>
</div>